# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

.idea/*
web/.idea/scopes/scope_settings.xml
.remote-sync.json
.bin
/include/config.pm
/dlinkac/dlink_log.txt
/web/rrd/*
.rrd
/old_backup/*
deployment-config.json
*.htaccess
web/.htpasswd
AC/mikrotik-config/*
AC/mikrotik-firmware/*
include/db_password.txt
lcs3_web/*
web/vendor/*
