package lcs::config;

our $eventname = "";
our $domain = "";

our $pri_hostname = "";
our $pri_v4 = "";

our $db_name = "lcs";
our $db_host = $pri_hostname;
our $db_username = "lcs";
our $db_password = ""; #CHANGE THIS AFTER setup_database.pl is run (it will generate it for you)
our $db_root_password = ""; #REMOVE THIS WHEN setup_database.pl IS DONE!!

our $isc_dhcp_dir = "/etc/dhcp/";
our $bind9_dir = "/etc/bind9";

our $dhcp_server = $pri_v4;

our $ios_user = "";
our $ios_pass = "";

our $snmp_community = "";

our $dlink_user = "admin";
our $dlink_passwd = "";

our $server_nett = ""; #USED IN DHCP 0.0.0.0/mask

our $nett = ""; #used in dns 0.0.0.0/mask;
1;
