body {
background-color: #434A54;
color: #E3E7EC;
}

#lcs {
  position: fixed;
  left: 10px;
  bottom: 10px;
}
#status {
  font-size: 20px;
  position: fixed;
  right: 10px;
  bottom: 10px;
}

#clock {
  font-size: 35px;
  position: fixed;
  left: 10px;
  top: 0px;
}
