package lcs::config;

#GLOBAL
our $eventname = "";
our $domain = "";

our $pri_hostname = "";
our $pri_v4 = "";

our $sec_hostname = "";
our $sec_v4 = "";

#DHCP SETTING
our $pri_dns_v4 = $pri_v4;
our $sec_dns_v4 = "8.8.8.8"; #Change this to sec_server when it is running
our $server_nett = ""; #USED IN DHCP 0.0.0.0/mask
our $isc_dhcp_dir = "/etc/dhcp/";

#DNS SETTING
our $dns_transfer = ""; #0.0.0.0; 0.0.0.0; system will automatic add pri and sec server
our $nett = ""; #used in dns 0.0.0.0/mask;
our $bind9_dir = "/etc/bind/";

#DATABASE
our $db_name = "lcs";
our $db_username = "lcs";
our $db_root_password = ""; #REMOVE THIS WHEN setup_database.pl IS DONE!!


#WIFI
our $unifi_controller_ip = ""; #USED IN DHCP -- TODO NOT WORKING --

#NETWORK
our $ios_user = "";
our $ios_pass = "";

our $snmp_community = "";
our $snmp_write_community = "";


our $dlink_pass = "";
our $tftp_ip = $pri_v4;

our $mtik_version = "6.33";
our $mtik_pass = "";

#READ THE DATABASE PASSWORD FROM db_password.txt
open (DBPASSWORD, '/lcs/include/db_password.txt'); while (<DBPASSWORD>) { chomp; our $db_password = $_; } close (DBPASSWORD);

1;
